{% extends 'base.html' %}


{% block title %}分析结果{% endblock %}

{% block content %}
<div>
    <h1>描述性统计数据</h1>
    <div>
        <ul>
            <li>1.均值：反映数据集的中心位置，是所有观测值的算术平均。这个统计量能够帮助您理解数据的整体水平。</li>
            <li>2.标准差：度量数据的离散程度，标准差越大表示数据的波动越大。通过标准差，您可以评估数据的波动性。</li>
            <li>3.中位数：将数据集按升序排列后，位于中间的值。中位数可以有效抵御极端值的影响，提供更稳健的中心位置度量。</li>
            <li>4.最小值：数据集中最小的观测值。最小值有助于了解数据的下限。</li>
            <li>5.最大值：数据集中最大的观测值。最大值可以显示数据的上限，帮助识别潜在的异常值。</li>
            <li>6.偏度：描述数据分布的对称性。偏度为正表示数据右偏，偏度为负则表示左偏。偏度的值接近零则说明数据分布较为对称。</li>
            <li>7.峰度：描述数据分布的陡峭程度。峰度值高说明数据分布集中在均值附近，峰度值低则表示数据较为分散。</li>
        </ul>
    </div>
    <h2>结果如下:</h2>
    <div>
        {{ table | safe }}
    </div>
</div>


{% endblock %}