{% extends 'base.html' %}

{% block title %}清洗结果{% endblock %}

{% block content %}
    <div>
        <table border="1">
            <h1>原数据集</h1>
            <tr>
                <th>指标</th>
                <th>值</th>
            </tr>
            {% for metric, value in original_metrics.items() %}
            <tr>
                <td>{{ metric }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <table border="1">
            <h1>清洗后数据集</h1>
            <tr>
                <th>指标</th>
                <th>值</th>
            </tr>
            {% for metric, value in cleaned_metrics.items() %}
            <tr>
                <td>{{ metric }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h2>前10行</h2>
        {{ table | safe }}
    </div>
{% endblock %}